 
# coding: utf-8

HTTP_X_API_KEY = 'HTTP_X_API_KEY'
API_KEY = '227415ba68c811e9b1a48c8590c7151e' 

COUCHDB_URL = 'http://{}:{}@{}:{}/'
COUCHDB_DOMAIN = '{{ ansible_host }}'
COUCHDB_USERNAME = 'admin'
COUCHDB_PASSWORD = 'password'
COUCHDB_PORTS = 5984
COUCHDB_TWEET_DB = 'origin_tweet'
COUCHDB_TRACK_DB = 'track'
COUCHDB_TIME_DB = 'time_{}_{}_{}_{}_{}'

OS_AUTH_URL = 'https://keystone.rc.nectar.org.au:5000'
OS_TENANT_ID = 'unimelb-comp90024-group-7'
OS_USERNAME = 'zexz1@student.unimelb.edu.au'
OS_PASSWORD = 'MmUwMmRmODAyNzljNzk5'
OS_VERSION = '3'